<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunrise.dao.VideoAppInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sunrise.model.VideoAppInfo" >
    <!--
      视频监控应用信息 video_appinfo
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appName" property="appName" jdbcType="VARCHAR" />
    <result column="appKey" property="appKey" jdbcType="VARCHAR" />
    <result column="appSecret" property="appSecret" jdbcType="VARCHAR" />
    <result column="accessToken" property="accessToken" jdbcType="VARCHAR" />
    <result column="tokenExpire" property="tokenExpire" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
     `id`, `appName`, `appKey`, `appSecret`, `accessToken`, `tokenExpire`, `remark`, `status`
  </sql>
  <sql id="Base_Column_List_t">
     t.`id`, t.`appName`, t.`appKey`, t.`appSecret`, t.`accessToken`, t.`tokenExpire`, t.`remark`, t.`status`
  </sql>
</mapper>
